In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [3]:
new_columns = autos.copy()

new_columns.rename({'yearOfRegistration':'registration_year'}, axis = 1, inplace = True)
new_columns.rename({'monthOfRegistration':'registration_month'}, axis = 1, inplace = True)
new_columns.rename({'notRepairedDamage':'unrepaired_damage'}, axis = 1, inplace = True)
new_columns.rename({'dateCrawled':'date_crawled'}, axis = 1, inplace = True)
new_columns.rename({'offerType':'offer_type'}, axis = 1, inplace = True)
new_columns.rename({'vehicleType':'vehicle_type'}, axis = 1, inplace = True)
new_columns.rename({'powerPS':'power_ps'}, axis = 1, inplace = True)
new_columns.rename({'fuelType':'fuel_type'}, axis = 1, inplace = True)
new_columns.rename({'dateCreated':'date_created'}, axis = 1, inplace = True)
new_columns.rename({'nrOfPictures':'nr_of_pictures'}, axis = 1, inplace = True)
new_columns.rename({'postalCode':'postal_code'}, axis = 1, inplace = True)
new_columns.rename({'lastSeen':'last_seen'}, axis = 1, inplace = True)

In [4]:
new_columns

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [5]:
autos.columns = new_columns.columns
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [6]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 17:37:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Seems like 'nr_of_pictures', 'offer_type' and 'seller' columns are candidates to be dropped, because these columns have mostly one value

In [7]:
autos = autos.drop(['nr_of_pictures', 'offer_type', 'seller'], axis=1)

Also columns 'price' and 'odometer' have numeric values stored as text, so we need to modificate these columns for a better analysis

In [8]:
autos['price'] = autos['price'].str.replace('$','').str.replace(',','').astype(int)

In [9]:
autos.rename({'price':'price_usd'}, axis = 1, inplace = True)
autos

,date_crawled,name,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,1350,control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,41500,test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,25450,control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,7999,control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,48500,control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,5250,control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,4999,test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,15800,control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,3300,control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,6000,control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,9700,control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,5900,test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,5500,control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,11000,test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,2000,control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,1950,control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,1000,control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,15900,control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,21990,control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,9550,control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,17500,test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,4800,control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,1650,control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,5000,control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,1980,control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,45897,2016-04-06 21:18:48

In [10]:
autos['odometer'].value_counts()
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','').astype(int)

In [11]:
autos['odometer'].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer, dtype: int64

In [12]:
autos.rename({"odometer":"odometer_km"}, axis = 1, inplace = True)

In [13]:
autos['price_usd'].value_counts().sort_index()

0           1421
1            156
2              3
3              1
5              2
8              1
9              1
10             7
11             2
12             3
13             2
14             1
15             2
17             3
18             1
20             4
25             5
29             1
30             7
35             1
40             6
45             4
47             1
49             4
50            49
55             2
59             1
60             9
65             5
66             1
            ...
151990         1
155000         1
163500         1
163991         1
169000         1
169999         1
175000         1
180000         1
190000         1
194000         1
197000         1
198000         1
220000         1
250000         1
259000         1
265000         1
295000         1
299000         1
345000         1
350000         1
999990         1
999999         2
1234566        1
1300000        1
3890000        1
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: price_usd, Length: 2357, dtype: int64

Let's remove unrealistic(more than 500,000$) and null values of price_usd from the dataset

In [14]:
autos = autos[autos['price_usd'].between(1, 500000)]
autos['price_usd'].value_counts().sort_index()

1         156
2           3
3           1
5           2
8           1
9           1
10          7
11          2
12          3
13          2
14          1
15          2
17          3
18          1
20          4
25          5
29          1
30          7
35          1
40          6
45          4
47          1
49          4
50         49
55          2
59          1
60          9
65          5
66          1
70         10
         ...
119500      1
119900      1
120000      2
128000      1
129000      1
130000      1
135000      1
137999      1
139997      1
145000      1
151990      1
155000      1
163500      1
163991      1
169000      1
169999      1
175000      1
180000      1
190000      1
194000      1
197000      1
198000      1
220000      1
250000      1
259000      1
265000      1
295000      1
299000      1
345000      1
350000      1
Name: price_usd, Length: 2346, dtype: int64

In [15]:
autos['odometer_km'].value_counts()

150000    31414
125000     5057
100000     2115
90000      1734
80000      1415
70000      1217
60000      1155
50000      1012
5000        836
40000       815
30000       780
20000       762
10000       253
Name: odometer_km, dtype: int64

As we can see, there are no strange outliers in the column 'odometer_km'. 
Also, high values here are more common than low.

In [16]:
autos['date_crawled'].str[0:10].value_counts(normalize = True, dropna = False).sort_index()

2016-03-05    0.025327
2016-03-06    0.014043
2016-03-07    0.036014
2016-03-08    0.033296
2016-03-09    0.033090
2016-03-10    0.032184
2016-03-11    0.032575
2016-03-12    0.036920
2016-03-13    0.015670
2016-03-14    0.036549
2016-03-15    0.034284
2016-03-16    0.029610
2016-03-17    0.031628
2016-03-18    0.012911
2016-03-19    0.034778
2016-03-20    0.037887
2016-03-21    0.037373
2016-03-22    0.032987
2016-03-23    0.032225
2016-03-24    0.029342
2016-03-25    0.031607
2016-03-26    0.032204
2016-03-27    0.031092
2016-03-28    0.034860
2016-03-29    0.034099
2016-03-30    0.033687
2016-03-31    0.031834
2016-04-01    0.033687
2016-04-02    0.035478
2016-04-03    0.038608
2016-04-04    0.036487
2016-04-05    0.013096
2016-04-06    0.003171
2016-04-07    0.001400
Name: date_crawled, dtype: float64

In [17]:
autos['date_crawled'].str[0:10].value_counts(normalize = True, dropna = False).sort_values()

2016-04-07    0.001400
2016-04-06    0.003171
2016-03-18    0.012911
2016-04-05    0.013096
2016-03-06    0.014043
2016-03-13    0.015670
2016-03-05    0.025327
2016-03-24    0.029342
2016-03-16    0.029610
2016-03-27    0.031092
2016-03-25    0.031607
2016-03-17    0.031628
2016-03-31    0.031834
2016-03-10    0.032184
2016-03-26    0.032204
2016-03-23    0.032225
2016-03-11    0.032575
2016-03-22    0.032987
2016-03-09    0.033090
2016-03-08    0.033296
2016-03-30    0.033687
2016-04-01    0.033687
2016-03-29    0.034099
2016-03-15    0.034284
2016-03-19    0.034778
2016-03-28    0.034860
2016-04-02    0.035478
2016-03-07    0.036014
2016-04-04    0.036487
2016-03-14    0.036549
2016-03-12    0.036920
2016-03-21    0.037373
2016-03-20    0.037887
2016-04-03    0.038608
Name: date_crawled, dtype: float64

As we can see, the distribution of listings crawled on each day is roughly uniform.

In [18]:
autos['date_created'].str[0:10].value_counts(normalize = True, dropna = False).sort_index()

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000041
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000041
2016-02-14    0.000041
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000041
2016-02-19    0.000062
2016-02-20    0.000041
2016-02-21    0.000062
                ...
2016-03-09    0.033151
2016-03-10    0.031895
2016-03-11    0.032904
2016-03-12    0.036755
2016-03-13    0.017008
2016-03-14    0.035190
2016-03-15    0.034016
2016-03-16    0.030125
2016-03-17    0.031278
2016-03-18    0.013590
2016-03-19    0.033687
2016-03-20    0.037949
2016-03-21    0.037579
2016-03-22    0.032801
2016-03-23    0.032060
2016-03-24    0.029280
2016-03-25    0.031751
2016-03-26    0.032266
2016-03-27    0.030989
2016-03-28    0.034984
2016-03-29    0.034037
2016-03-30    0.033501
2016-03-31    0.031875
2016-04-01    0.033687
2016-04-02    0.035149
2016-04-03    0.038855
2016-04-04    0.036858
2016-04-05    0.011819
2016-04-06    0.003253
2016-04-07    0.001256
Name: date_created, Length: 76, dtype: float64

In [19]:
autos['date_created'].str[0:10].value_counts(normalize = True, dropna = False).sort_values()

2015-11-10    0.000021
2016-02-22    0.000021
2015-08-10    0.000021
2016-01-29    0.000021
2016-02-09    0.000021
2016-01-22    0.000021
2016-02-11    0.000021
2016-01-14    0.000021
2015-12-30    0.000021
2016-02-16    0.000021
2015-12-05    0.000021
2016-02-17    0.000021
2016-02-08    0.000021
2016-01-16    0.000021
2015-06-11    0.000021
2016-02-07    0.000021
2016-01-03    0.000021
2016-02-01    0.000021
2016-01-07    0.000021
2015-09-09    0.000021
2016-01-13    0.000021
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-26    0.000041
2016-01-10    0.000041
2016-02-20    0.000041
2016-02-14    0.000041
2016-02-12    0.000041
2016-02-24    0.000041
2016-02-18    0.000041
                ...
2016-03-06    0.015320
2016-03-13    0.017008
2016-03-05    0.022897
2016-03-24    0.029280
2016-03-16    0.030125
2016-03-27    0.030989
2016-03-17    0.031278
2016-03-25    0.031751
2016-03-31    0.031875
2016-03-10    0.031895
2016-03-23    0.032060
2016-03-26    0.032266
2016-03-22    0.032801
2016-03-11    0.032904
2016-03-09    0.033151
2016-03-08    0.033316
2016-03-30    0.033501
2016-04-01    0.033687
2016-03-19    0.033687
2016-03-15    0.034016
2016-03-29    0.034037
2016-03-07    0.034737
2016-03-28    0.034984
2016-04-02    0.035149
2016-03-14    0.035190
2016-03-12    0.036755
2016-04-04    0.036858
2016-03-21    0.037579
2016-03-20    0.037949
2016-04-03    0.038855
Name: date_created, Length: 76, dtype: float64

In [20]:
autos['last_seen'].str[0:10].value_counts(normalize = True, dropna = False).sort_index()

2016-03-05    0.001071
2016-03-06    0.004324
2016-03-07    0.005395
2016-03-08    0.007413
2016-03-09    0.009595
2016-03-10    0.010666
2016-03-11    0.012375
2016-03-12    0.023783
2016-03-13    0.008895
2016-03-14    0.012602
2016-03-15    0.015876
2016-03-16    0.016452
2016-03-17    0.028086
2016-03-18    0.007351
2016-03-19    0.015834
2016-03-20    0.020653
2016-03-21    0.020632
2016-03-22    0.021373
2016-03-23    0.018532
2016-03-24    0.019767
2016-03-25    0.019211
2016-03-26    0.016802
2016-03-27    0.015649
2016-03-28    0.020859
2016-03-29    0.022341
2016-03-30    0.024771
2016-03-31    0.023783
2016-04-01    0.022794
2016-04-02    0.024915
2016-04-03    0.025203
2016-04-04    0.024483
2016-04-05    0.124761
2016-04-06    0.221806
2016-04-07    0.131947
Name: last_seen, dtype: float64

In [21]:
autos['date_created'].str[0:10].value_counts(normalize = True, dropna = False).sort_values()

2015-11-10    0.000021
2016-02-22    0.000021
2015-08-10    0.000021
2016-01-29    0.000021
2016-02-09    0.000021
2016-01-22    0.000021
2016-02-11    0.000021
2016-01-14    0.000021
2015-12-30    0.000021
2016-02-16    0.000021
2015-12-05    0.000021
2016-02-17    0.000021
2016-02-08    0.000021
2016-01-16    0.000021
2015-06-11    0.000021
2016-02-07    0.000021
2016-01-03    0.000021
2016-02-01    0.000021
2016-01-07    0.000021
2015-09-09    0.000021
2016-01-13    0.000021
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-26    0.000041
2016-01-10    0.000041
2016-02-20    0.000041
2016-02-14    0.000041
2016-02-12    0.000041
2016-02-24    0.000041
2016-02-18    0.000041
                ...
2016-03-06    0.015320
2016-03-13    0.017008
2016-03-05    0.022897
2016-03-24    0.029280
2016-03-16    0.030125
2016-03-27    0.030989
2016-03-17    0.031278
2016-03-25    0.031751
2016-03-31    0.031875
2016-03-10    0.031895
2016-03-23    0.032060
2016-03-26    0.032266
2016-03-22    0.032801
2016-03-11    0.032904
2016-03-09    0.033151
2016-03-08    0.033316
2016-03-30    0.033501
2016-04-01    0.033687
2016-03-19    0.033687
2016-03-15    0.034016
2016-03-29    0.034037
2016-03-07    0.034737
2016-03-28    0.034984
2016-04-02    0.035149
2016-03-14    0.035190
2016-03-12    0.036755
2016-04-04    0.036858
2016-03-21    0.037579
2016-03-20    0.037949
2016-04-03    0.038855
Name: date_created, Length: 76, dtype: float64

In [22]:
autos['last_seen'].str[0:10].value_counts(normalize = True, dropna = False).sort_index()

2016-03-05    0.001071
2016-03-06    0.004324
2016-03-07    0.005395
2016-03-08    0.007413
2016-03-09    0.009595
2016-03-10    0.010666
2016-03-11    0.012375
2016-03-12    0.023783
2016-03-13    0.008895
2016-03-14    0.012602
2016-03-15    0.015876
2016-03-16    0.016452
2016-03-17    0.028086
2016-03-18    0.007351
2016-03-19    0.015834
2016-03-20    0.020653
2016-03-21    0.020632
2016-03-22    0.021373
2016-03-23    0.018532
2016-03-24    0.019767
2016-03-25    0.019211
2016-03-26    0.016802
2016-03-27    0.015649
2016-03-28    0.020859
2016-03-29    0.022341
2016-03-30    0.024771
2016-03-31    0.023783
2016-04-01    0.022794
2016-04-02    0.024915
2016-04-03    0.025203
2016-04-04    0.024483
2016-04-05    0.124761
2016-04-06    0.221806
2016-04-07    0.131947
Name: last_seen, dtype: float64

In [23]:
autos['last_seen'].str[0:10].value_counts(normalize = True, dropna = False).sort_values()

2016-03-05    0.001071
2016-03-06    0.004324
2016-03-07    0.005395
2016-03-18    0.007351
2016-03-08    0.007413
2016-03-13    0.008895
2016-03-09    0.009595
2016-03-10    0.010666
2016-03-11    0.012375
2016-03-14    0.012602
2016-03-27    0.015649
2016-03-19    0.015834
2016-03-15    0.015876
2016-03-16    0.016452
2016-03-26    0.016802
2016-03-23    0.018532
2016-03-25    0.019211
2016-03-24    0.019767
2016-03-21    0.020632
2016-03-20    0.020653
2016-03-28    0.020859
2016-03-22    0.021373
2016-03-29    0.022341
2016-04-01    0.022794
2016-03-12    0.023783
2016-03-31    0.023783
2016-04-04    0.024483
2016-03-30    0.024771
2016-04-02    0.024915
2016-04-03    0.025203
2016-03-17    0.028086
2016-04-05    0.124761
2016-04-07    0.131947
2016-04-06    0.221806
Name: last_seen, dtype: float64

The last three days contain a disproportionate amount of 'last seen' values. Maybe this thing occured because of the crawling period ending.

In [24]:
autos['registration_year'].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

As we can see, 'registration year' contain some fake information - minimum and maximum registration year are incorrect.

Let's count the number of listings with cars that fall outside the 1900 - 2016 interval and try to remove those rows entirely

In [25]:
autos = autos[autos['registration_year'].between(1900, 2016)]

In [26]:
autos['registration_year'].value_counts(normalize=True).sort_index()

1910    0.000107
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000043
1937    0.000086
1938    0.000021
1939    0.000021
1941    0.000043
1943    0.000021
1948    0.000021
1950    0.000064
1951    0.000043
1952    0.000021
1953    0.000021
1954    0.000043
1955    0.000043
1956    0.000086
1957    0.000043
1958    0.000086
1959    0.000129
1960    0.000493
1961    0.000129
1962    0.000086
1963    0.000171
1964    0.000257
1965    0.000364
1966    0.000471
1967    0.000557
1968    0.000557
          ...
1987    0.001542
1988    0.002892
1989    0.003727
1990    0.007433
1991    0.007262
1992    0.007926
1993    0.009104
1994    0.013474
1995    0.026285
1996    0.029412
1997    0.041794
1998    0.050620
1999    0.062060
2000    0.067608
2001    0.056468
2002    0.053255
2003    0.057818
2004    0.057904
2005    0.062895
2006    0.057197
2007    0.048778
2008    0.047450
2009    0.044665
2010    0.034040
2011    0.034768
2012    0.028063
2013    0.017202
2014    0.014203
2015    0.008397
2016    0.026135
Name: registration_year, Length: 78, dtype: float64

There are very small values before the years 1957-1959, so it seems like registration year of the cars is before 1957 may be incorrect.

Let's remove those rows too.

In [27]:
autos = autos[autos['registration_year'].between(1956, 2016)]

In [28]:
autos['registration_year'].value_counts(normalize=True).sort_index()

1956    0.000086
1957    0.000043
1958    0.000086
1959    0.000129
1960    0.000493
1961    0.000129
1962    0.000086
1963    0.000171
1964    0.000257
1965    0.000364
1966    0.000472
1967    0.000557
1968    0.000557
1969    0.000407
1970    0.000815
1971    0.000557
1972    0.000707
1973    0.000493
1974    0.000514
1975    0.000386
1976    0.000450
1977    0.000472
1978    0.000943
1979    0.000729
1980    0.001822
1981    0.000600
1982    0.000879
1983    0.001093
1984    0.001093
1985    0.002036
          ...
1987    0.001543
1988    0.002894
1989    0.003730
1990    0.007438
1991    0.007267
1992    0.007931
1993    0.009110
1994    0.013483
1995    0.026302
1996    0.029432
1997    0.041822
1998    0.050654
1999    0.062101
2000    0.067653
2001    0.056506
2002    0.053290
2003    0.057856
2004    0.057942
2005    0.062937
2006    0.057235
2007    0.048810
2008    0.047481
2009    0.044695
2010    0.034062
2011    0.034791
2012    0.028081
2013    0.017213
2014    0.014212
2015    0.008403
2016    0.026152
Name: registration_year, Length: 61, dtype: float64

In [29]:
autos['brand'].value_counts(normalize=True).head(20)

volkswagen        0.211383
bmw               0.110096
opel              0.107588
mercedes_benz     0.096442
audi              0.086624
ford              0.069861
renault           0.047160
peugeot           0.029861
fiat              0.025659
seat              0.018264
skoda             0.016420
nissan            0.015284
mazda             0.015198
smart             0.014169
citroen           0.013998
toyota            0.012712
hyundai           0.010032
sonstige_autos    0.009603
volvo             0.009153
mini              0.008767
Name: brand, dtype: float64

In [30]:
brands = autos['brand'].value_counts(normalize=True)
common_brands = brands[brands>0.05].index
common_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

I have chosen to aggregate common brands that have over a certain percentage of the total values (> 0.05)

In [31]:
brand_mean_prices = {}

for x in common_brands:
    temp_mean = autos.loc[autos['brand'] == x, 'price_usd'].mean()
    brand_mean_prices[x] = temp_mean.astype(int)

In [32]:
brand_mean_prices

{'volkswagen': 5398,
 'bmw': 8332,
 'opel': 2976,
 'mercedes_benz': 8580,
 'audi': 9336,
 'ford': 3720}

Audi, Mercedes and BMW have the most expensive cars among the most common cars.
Opel is the cheapest brand among the most common cars.

In [33]:
brand_mean_miles = {}

for x in common_brands:
    temp_mean = autos.loc[autos['brand'] == x, 'odometer_km'].mean()
    brand_mean_miles[x] = temp_mean.astype(int)

In [34]:
brand_mean_miles

{'volkswagen': 128710,
 'bmw': 132597,
 'opel': 129336,
 'mercedes_benz': 130865,
 'audi': 129157,
 'ford': 124390}

In [35]:
price_series = pd.Series(brand_mean_prices)
miles_series = pd.Series(brand_mean_miles)

In [36]:
brand_df = pd.DataFrame(data=price_series, columns=['mean_price_usd'])

In [37]:
brand_df

               mean_price_usd
volkswagen               5398
bmw                      8332
opel                     2976
mercedes_benz            8580
audi                     9336
ford                     3720

In [38]:
brand_df['mean_mileage_km'] = miles_series

In [39]:
brand_df

               mean_price_usd  mean_mileage_km
volkswagen               5398           128710
bmw                      8332           132597
opel                     2976           129336
mercedes_benz            8580           130865
audi                     9336           129157
ford                     3720           124390

Now aggregate data about mean prices and mean mileage of the common brand cars is stored in a new dataframe.

And as we can see in this dataframe, the range of car mileages does not vary as much as the prices do by brand. However, the most expensive brands have a slightly bigger mileage.

## Data cleaning next steps:
    * Identify categorical data that uses german words, translate them and map the values to their english counterparts
    * Convert the dates to be uniform numeric data, so "2016-03-21" becomes the integer 20160321.
    * See if there are particular keywords in the name column that you can extract as new columns
## Analysis next steps:
    * Find the most common brand/model combinations
    * Split the odometer_km into groups, and use aggregation to see if average prices follows any patterns based on the milage.
    * How much cheaper are cars with damage than their non-damaged counterparts?

In [40]:
autos.head(20)

,date_crawled,name,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatik,150,voyager,150000,4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manuell,90,golf,150000,8,benzin,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,control,limousine,1998,manuell,90,golf,150000,12,diesel,volkswagen,nein,2016-03-16 00:00:00,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,250,test,NaN,2000,manuell,0,arosa,150000,10,NaN,seat,nein,2016-03-22 00:00:00,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manuell,90,megane,150000,7,benzin,renault,nein,2016-03-16 00:00:00,15749,2016-04-06 10:46:35
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,150000,0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,kleinwagen,2010,automatik,71,fortwo,50000,9,benzin,smart,nein,2016-03-31 00:00:00,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,1350,control,limousine,1999,manuell,101,a3,150000,11,benzin,audi,nein,2016-03-23 00:00:00,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,kleinwagen,2007,manuell,75,clio,150000,9,benzin,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatik,203,NaN,80000,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,350,test,kombi,1999,manuell,101,vectra,150000,5,benzin,opel,nein,2016-03-16 00:00:00,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manuell,205,scirocco,150000,6,benzin,volkswagen,nein,2016-03-29 00:00:00,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manuell,150,3er,150000,0,benzin,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manuell,124,andere,150000,2,lpg,mazda,nein,2016-03-17 00:00:00,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,kombi,2003,manuell,131,a4,150000,5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46

Let's identify categorical data that uses german words, translate them and map the values to their english counterparts.
There are some german words in 'vehicle type' column, so let's translate them.

In [41]:
tran_veh_dict = {
    'bus' : 'bus',
    'limousine' : 'limousine',
    'kleinwagen' : 'small car',
    'kombi' : 'estate car',
    'coupe' : 'coupe',
    'suv' : 'suv',
    'cabrio' : 'cabrio',
    'andere' : 'other',
}

In [42]:
autos['vehicle_type'].unique()

array(['bus', 'limousine', 'kleinwagen', 'kombi', nan, 'coupe', 'suv',
       'cabrio', 'andere'], dtype=object)

In [43]:
autos['vehicle_type'] = autos['vehicle_type'].map(tran_veh_dict)

In [44]:
autos['vehicle_type'].unique()

array(['bus', 'limousine', 'small car', 'estate car', nan, 'coupe', 'suv',
       'cabrio', 'other'], dtype=object)

Also words in the 'gearbox' and some other columns are german.

In [45]:
tran_gear_dict = {
    'manuell' : 'manual',
    'automatik' : 'automatic'
}

In [46]:
autos['gearbox'] = autos['gearbox'].map(tran_gear_dict)

In [47]:
autos['gearbox'].unique()

array(['manual', 'automatic', nan], dtype=object)

In [48]:
autos['fuel_type'].unique()

array(['lpg', 'benzin', 'diesel', nan, 'cng', 'hybrid', 'elektro',
       'andere'], dtype=object)

In [49]:
tran_fuel_dict = {
    'lpg' : 'lpg',
    'benzin' : 'petrol',
    'diesel' : 'diesel',
    'cng' : 'cng',
    'hybrid' : 'hybrid',
    'elektro' : 'electro',
    'andere' : 'other'
}

In [50]:
autos['fuel_type'] = autos['fuel_type'].map(tran_fuel_dict)

In [51]:
autos.head(20)

,date_crawled,name,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manual,102,golf,70000,7,petrol,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,small car,2007,automatic,71,fortwo,70000,6,petrol,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,estate car,2003,manual,0,focus,150000,7,petrol,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatic,150,voyager,150000,4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manual,90,golf,150000,8,petrol,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,control,limousine,1998,manual,90,golf,150000,12,diesel,volkswagen,nein,2016-03-16 00:00:00,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,250,test,NaN,2000,manual,0,arosa,150000,10,NaN,seat,nein,2016-03-22 00:00:00,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manual,90,megane,150000,7,petrol,renault,nein,2016-03-16 00:00:00,15749,2016-04-06 10:46:35
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,150000,0,petrol,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,small car,2010,automatic,71,fortwo,50000,9,petrol,smart,nein,2016-03-31 00:00:00,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,1350,control,limousine,1999,manual,101,a3,150000,11,petrol,audi,nein,2016-03-23 00:00:00,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,small car,2007,manual,75,clio,150000,9,petrol,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatic,203,NaN,80000,6,petrol,sonstige_autos,nein,2016-04-01 00:00:00,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,350,test,estate car,1999,manual,101,vectra,150000,5,petrol,opel,nein,2016-03-16 00:00:00,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manual,205,scirocco,150000,6,petrol,volkswagen,nein,2016-03-29 00:00:00,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manual,150,3er,150000,0,petrol,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manual,124,andere,150000,2,lpg,mazda,nein,2016-03-17 00:00:00,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,estate car,2003,manual,131,a4,150000,5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46

In [52]:
tran_unrep_dict = {
    'nein' : 'none',
    'ja' : 'yes'
}

In [53]:
autos['unrepaired_damage'] = autos['unrepaired_damage'].map(tran_unrep_dict)

In [54]:
autos['unrepaired_damage'].unique()

array(['none', nan, 'yes'], dtype=object)

In [57]:
autos['last_seen'].value_counts()

2016-04-07 06:17:27    8
2016-04-06 21:17:51    7
2016-04-07 03:16:17    7
2016-04-07 06:46:12    6
2016-04-05 16:44:47    6
2016-04-07 04:46:51    6
2016-04-06 19:16:38    6
2016-04-06 13:17:03    6
2016-04-06 02:17:26    6
2016-04-06 14:17:04    6
2016-04-07 05:16:17    6
2016-04-07 03:45:23    6
2016-04-06 02:16:12    6
2016-04-06 22:17:26    6
2016-04-06 14:44:55    6
2016-04-06 10:17:12    6
2016-04-06 20:48:27    6
2016-04-06 06:17:24    6
2016-04-06 08:44:19    6
2016-04-06 15:17:56    6
2016-04-06 07:46:11    6
2016-04-07 04:46:40    5
2016-04-06 16:17:59    5
2016-04-07 04:16:09    5
2016-04-06 11:16:02    5
2016-04-06 12:45:16    5
2016-04-06 05:15:21    5
2016-04-06 15:17:11    5
2016-04-06 06:16:52    5
2016-04-07 04:15:59    5
                      ..
2016-03-17 08:44:14    1
2016-03-29 05:18:08    1
2016-04-07 03:16:10    1
2016-03-19 10:17:07    1
2016-03-13 04:46:34    1
2016-04-05 02:45:36    1
2016-03-13 00:46:29    1
2016-04-03 01:44:39    1
2016-04-05 18:46:45    1
2016-03-24 17:17:25    1
2016-03-18 20:29:09    1
2016-04-02 15:47:38    1
2016-03-30 20:50:20    1
2016-03-29 04:45:22    1
2016-03-21 14:16:01    1
2016-04-05 12:09:52    1
2016-03-16 15:44:59    1
2016-04-04 16:55:08    1
2016-03-12 03:16:45    1
2016-04-01 21:42:52    1
2016-04-06 21:45:05    1
2016-03-24 11:54:58    1
2016-03-21 11:44:30    1
2016-03-29 16:38:39    1
2016-04-07 00:45:07    1
2016-03-21 06:18:15    1
2016-03-17 17:47:45    1
2016-03-13 01:46:39    1
2016-04-07 10:16:00    1
2016-03-20 10:49:13    1
Name: last_seen, Length: 37129, dtype: int64

Now let's convert the dates to be uniform numeric data, so "2016-03-21" becomes the integer 20160321

In [56]:
import datetime as dt

This is a function to convert string date to int

In [66]:
def change_date(str):
    dt_temp = dt.datetime.strptime(str, '%Y-%m-%d %H:%M:%S')
    return int(dt_temp.strftime('%Y%m%d'))

Let's check this function

In [67]:
change_date('2016-03-20 10:49:13')

20160320

Function to optimize changing date in each column

In [69]:
def change_date_col(str):
    col = autos[str]
    new_col = []
    
    for x in col:
        x = change_date(x)
        new_col.append(x)
    autos[str] = new_col

In [72]:
change_date_col('date_crawled')
change_date_col('date_created')
change_date_col('last_seen')

In [74]:
autos.head(5)

,date_crawled,name,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,postal_code,last_seen
0,20160326,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,none,20160326,79588,20160406
1,20160404,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,none,20160404,71034,20160406
2,20160326,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manual,102,golf,70000,7,petrol,volkswagen,none,20160326,35394,20160406
3,20160312,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,small car,2007,automatic,71,fortwo,70000,6,petrol,smart,none,20160312,33729,20160315
4,20160401,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,estate car,2003,manual,0,focus,150000,7,petrol,ford,none,20160401,39218,20160401

Now let's find the most common brand/model combinations

For this task I will create an extra column for a combination

In [77]:
autos['brand-model'] = autos['brand'] + ' '+ autos['model']

In [78]:
autos['brand-model'].head()

0     peugeot andere
1            bmw 7er
2    volkswagen golf
3       smart fortwo
4         ford focus
Name: brand-model, dtype: object

In [80]:
autos['brand-model'].value_counts().head(3)

volkswagen golf    3707
bmw 3er            2615
volkswagen polo    1609
Name: brand-model, dtype: int64

As we can see, the most common brand-model combination is 'volkswagen golf'

In [81]:
autos['odometer_km'].value_counts()

150000    30082
125000     4856
100000     2054
90000      1671
80000      1375
70000      1186
60000      1125
50000       992
40000       795
5000        773
30000       760
20000       741
10000       240
Name: odometer_km, dtype: int64

More the odometer's value - more frequently it is found.

I will aggregate these values in 3 groups based on the odometer's value.

In [85]:
most_km = autos[autos['odometer_km'] >= 150000]
med_km = autos[(autos['odometer_km'] < 150000) & (autos['odometer_km'] > 50000)]
les_km = autos[autos['odometer_km'] <= 50000]

In [86]:
most_km

,date_crawled,name,price_usd,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,date_created,postal_code,last_seen,brand-model
0,20160326,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,andere,150000,3,lpg,peugeot,none,20160326,79588,20160406,peugeot andere
1,20160404,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,none,20160404,71034,20160406,bmw 7er
4,20160401,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,estate car,2003,manual,0,focus,150000,7,petrol,ford,none,20160401,39218,20160401,ford focus
5,20160321,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatic,150,voyager,150000,4,diesel,chrysler,NaN,20160321,22962,20160406,chrysler voyager
6,20160320,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manual,90,golf,150000,8,petrol,volkswagen,NaN,20160320,31535,20160323,volkswagen golf
7,20160316,Golf_IV_1.9_TDI_90PS,1990,control,limousine,1998,manual,90,golf,150000,12,diesel,volkswagen,none,20160316,53474,20160407,volkswagen golf
8,20160322,Seat_Arosa,250,test,NaN,2000,manual,0,arosa,150000,10,NaN,seat,none,20160322,7426,20160326,seat arosa
9,20160316,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manual,90,megane,150000,7,petrol,renault,none,20160316,15749,20160406,renault megane
11,20160316,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,150000,0,petrol,mercedes_benz,NaN,20160316,17498,20160316,NaN
13,20160323,Audi_A3_1.6_tuning,1350,control,limousine,1999,manual,101,a3,150000,11,petrol,audi,none,20160323,12043,20160401,audi a3
14,20160323,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,small car,2007,manual,75,clio,150000,9,petrol,renault,NaN,20160323,81737,20160401,renault clio
16,20160316,Opel_Vectra_B_Kombi,350,test,estate car,1999,manual,101,vectra,150000,5,petrol,opel,none,20160316,57299,20160318,opel vectra
17,20160329,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manual,205,scirocco,150000,6,petrol,volkswagen,none,20160329,74821,20160405,volkswagen scirocco
18,20160326,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manual,150,3er,150000,0,petrol,bmw,NaN,20160326,54329,20160402,bmw 3er
19,20160317,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manual,124,andere,150000,2,lpg,mazda,none,20160317,40878,20160317,mazda andere
20,20160305,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,estate car,2003,manual,131,a4,150000,5,diesel,audi,NaN,20160305,53913,20160307,audi a4
21,20160306,Porsche_911_Carrera_4S_Cabrio,41500,test,cabrio,2004,manual,320,911,150000,4,petrol,porsche,none,20160306,65428,20160405,porsche 911
23,20160310,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,7999,control,bus,2010,manual,120,NaN,150000,2,diesel,peugeot,none,20160310,30900,20160317,NaN
25,20160321,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,90,control,estate car,1996,manual,116,NaN,150000,4,petrol,ford,yes,20160321,27574,20160401,NaN
28,20160319,MINI_Cooper_D,5250,control,small car,2007,manual,110,cooper,150000,7,diesel,mini,yes,20160319,15745,20160407,mini cooper
29,20160402,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,4999,test,estate car,2004,automatic,204,e_klasse,150000,10,diesel,mercedes_benz,none,20160402,47638,20160402,mercedes_benz e_klasse
30,20160314,Peugeot_206_Unfallfahrzeug,80,test,small car,2002,manual,60,2_reihe,150000,6,petrol,peugeot,yes,20160314,57076,20160314,peugeot 2_reihe
31,20160314,Noch_gut_erhaltenen_C_320,2850,test,estate car,2002,automatic,218,c_klasse,150000,7,petrol,mercedes_benz,none,20160314,41065,20160316,mercedes_benz c_klasse
32,20160320,Corsa_mit_TÃœV_5.2016,350,control,small car,1999,manual,0,corsa,150000,7,petrol,opel,NaN,20160320,27619,20160406,opel corsa
33,20160315,Audi_A3_2.0_TDI_Sportback_DPF_Kupplung_defekt_...,4800,test,estate car,2006,manual,140,a3,150000,8,diesel,audi,none,20160315,61169,20160407,audi a3
34,20160405,Bmw_530d__navi_tuv03/18,2600,test,estate car,2000,automatic,193,5er,150000,6,diesel,bmw,NaN,20160405,95111,20160407,bmw 5er
35,20160329,Ford_Mondeo,1200,test,estate car,1998,manual,0,mondeo,150000,12,petrol,ford,none,20160329,52428,20160406,ford mondeo
36,20160316,Ford_Mondeo_2.0_Turnier_TDCi_DPF_Titanium,7500,test,estate car,2007,manual,131,mondeo,150000,11,diesel,ford,none,20160316,34246,20160405,ford mondeo
39,20160311,Mercedes_C_180_Kombi__zu_verkaufen,1450,test,estate car,1999,automatic,122,c_klasse,150000,6,petrol,mercedes_benz,none,20160311,12683,20160406,mercedes_benz c_klasse
40,20160307,VW_Golf__4_Cabrio_2.0_GTI_16V___Leder_MFA_Alus...,3500,control,cabrio,1999,manual,150,golf,150000,1,petrol,volkswagen,none,20160307,6780,20160312,volkswagen golf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49949,20160326,VW_Golf_3__1.4__60_PS__Ratte__Rost__09/16_TÃœV_...,650,control,small car,1993,manual,60,golf,150000,9,petrol,volkswagen,none,20160326,86647,20160406,volkswagen golf
49951,20160331,Opel_Corsa_D1.0_weiss_/Scheckheftgepflegt/_Unf...,3550,control,small car,2008,manual,60,corsa,150000,4,petrol,opel,none,20160331,51588,20160331,opel corsa
49954,20160317,328_Cabrio_Schalter,2490,control,cabrio,1997,manual,193,NaN,150000,5,petrol,bmw,NaN,20160317,45701,20160320,NaN
49955,20160330,Golf_1.9_TDI_DPF_4mot_GT_Sport,3400,control,limousine,2008,NaN,0,golf,150000,11,diesel,volkswagen,none,20160330,83512,20160330,volkswagen golf
49957,20160310,Bmw_mit_LPG__super_zustand_2_Jahre_Tuev_klima,2900,test,coupe,2000,manual,150,3er,150000,8,lpg,bmw,NaN,20160310,41239,20160311,bmw 3er
49958,20160308,Golf_3_2.8_vr6_highline,2900,test,limousine,1994,manual,174,golf,150000,5,petrol,volkswagen,NaN,20160308,24241,20160407,volkswagen golf
49959,20160328,Mercedes_Benz_C_180_T_Kompressor_Classic,4200,control,estate car,2003,manual,143,c_klasse,150000,12,petrol,mercedes_benz,none,20160328,53844,20160407,mercedes_benz c_klasse
49961,20160314,Golf_2.0_TDI_Sportline_Sonderproduktion,3200,control,limousine,2007,manual,140,golf,150000,7,diesel,volkswagen,NaN,20160314,65760,20160314,volkswagen golf
49962,20160314,Mitsubishi_Space_Star_1__3_L__Bj_2004_Standhei...,2200,test,limousine,2004,manual,82,andere,150000,4,petrol,mitsubishi,yes,20160314,45481,20160315,mitsubishi andere
49964,20160310,Audi_2_7_TDI_AVANT,12700,control,estate car,2010,automatic,192,a4,150000,5,diesel,audi,NaN,20160310,54441,20160407,audi a4
49966,20160402,CitroÃ«n_C1_1.0_**Euro4**TÃœV_OKT_2017**Scheiten...,1490,control,small car,2006,manual,68,c1,150000,7,petrol,citroen,yes,20160402,26603,20160402,citroen c1
49967,20160312,VW_Passat_2_0_TDI_comfortline,4999,test,estate car,2006,manual,140,passat,150000,5,diesel,volkswagen,NaN,20160312,70619,20160317,volkswagen passat
49968,20160401,Mercedes_Benz_190_D_2.5_Automatik,2100,test,limousine,1986,automatic,90,andere,150000,9,diesel,mercedes_benz,none,20160401,40227,20160405,mercedes_benz andere
49969,20160317,Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ,4500,control,suv,2005,manual,136,x_trail,150000,5,diesel,nissan,none,20160317,17379,20160325,nissan x_trail
49971,20160329,W.Lupo_1.0,950,test,small car,2001,manual,50,lupo,150000,4,petrol,volkswagen,none,20160329,65197,20160329,volkswagen lupo
49972,20160326,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,3300,control,bus,2004,automatic,150,vito,150000,10,diesel,mercedes_benz,yes,20160326,65326,20160328,mercedes_benz vito
49973,20160327,Mercedes_Benz_SLK_200_Kompressor,6000,control,cabrio,2004,manual,163,slk,150000,11,petrol,mercedes_benz,none,20160327,53567,20160327,mercedes_benz slk
49976,20160319,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,5900,test,estate car,1992,automatic,150,80,150000,12,petrol,audi,none,20160319,36100,20160407,audi 80
49977,20160331,Mercedes_Benz_C200_Cdi_W203,5500,control,limousine,2003,manual,116,c_klasse,150000,2,diesel,mercedes_benz,none,20160331,33739,20160406,mercedes_benz c_klasse
49978,20160404,Mercedes_Benz_E_200_Classic,900,control,limousine,1996,automatic,136,e_klasse,150000,9,petrol,mercedes_benz,yes,20160404,24405,20160406,mercedes_benz e_klasse
49981,20160315,Opel_Astra_Kombi_mit_Anhaengerkupplung,2000,control,estate car,1998,manual,115,astra,150000,12,petrol,opel,none,20160315,86859,20160405,opel astra
49983,20160306,Ford_focus_99,600,test,small car,1999,manual,101,focus,150000,4,petrol,ford,NaN,20160306,52477,20160309,ford focus
49985,20160402,Verkaufe_meinen_vw_vento!,1000,control,NaN,1995,automatic,0,NaN,150000,0,petrol,volkswagen,NaN,20160402,30900,20160406,NaN
49988,20160328,BMW_330_Ci,9550,control,coupe,2001,manual,231,3er,150000,10,petrol,bmw,none,20160328,83646,20160407,bmw 3er
49989,20160311,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,150,test,small car,1997,manual,0,polo,150000,5,petrol,volkswagen,yes,20160311,21244,20160312,volkswagen polo
49991,20160306,Kleinwagen,500,control,NaN,2016,manual,0,twingo,150000,0,petrol,renault,NaN,20160306,61350,20160306,renault twingo
49993,20160315,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,1650,control,small car,1997,manual,0,NaN,150000,7,petrol,audi,NaN,20160315,65203,20160406,NaN
49994,20160322,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,5000,control,estate car,2001,automatic,299,a6,150000,1,petrol,audi,none,20160322,46537,20160406,audi a6
49996,20160328,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,1980,control,cabrio,1996,manual,75,astra,150000,5,petrol,opel,none,20160328,44807,20160402,opel astra
49999,20160314,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manual,101,vectra,150000,1,petrol,opel,none,20160313,45897,20160406,opel vectra

In [87]:
price_most_km = most_km['price_usd'].mean()
price_med_km = med_km['price_usd'].mean()
price_les_km = les_km['price_usd'].mean()

In [90]:
price_most_km

3767.765806794761

In [91]:
price_med_km

8242.48650851879

In [92]:
price_les_km

14880.663101604277

It is not hard to see, that there is a strong inverse correlation between the odometer's value and the price.
The more is odometer's value, the less is the price.

Now let's see how much cheaper are cars with damage than their non-damaged counterparts.

For this task I will aggregate cars into 2 groups : damaged and non-damaged cars. There are autos with a nan value, I will not count them at all.

In [98]:
damaged = autos[autos['unrepaired_damage'] == 'yes']
non_damaged = autos[autos['unrepaired_damage'] == 'none']

In [99]:
damaged_price = damaged['price_usd'].mean()
non_damaged_price = non_damaged['price_usd'].mean()

In [100]:
damaged_price

2222.3098808998675

In [101]:
non_damaged_price

7153.68978771214

So, in average cars that have none unrepaired damage cost 3-4 times more than damaged cars.